body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
}

.header{
    background-image: url(images/HERO\ IMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    justify-content: center;
}

.nav-header-2{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;

}


.logo{
    margin-left: 165px;
}

.item-nav{
    margin-left: 45px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.item-nav:hover{
    color: gray;
}

.item-header{
    margin-left: 400px;
    display: flex;
}

.cart{
    margin-left: 36px;
}

.line{
    margin-left: 21px;
}

.header2{
    margin-left: 34px;
}

.phone{
    margin-left: 39px;
    margin-bottom: 35px;
}

.button {
    background-color: #FF7400;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
     cursor: pointer;
     color:white;
     margin-left: 150px;
}

.button:hover{
    background-color: #ff8c00;
}

.nav-img{
    margin-left: 700px;
    display: none;
}

.title{
    margin-top: 203px;
    font-weight: 400;
    display: grid;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
}

.title-item{
    color: #ff8c00;
    font-size: 50px;
}

.title-item-2{
    color: #ff8c00;
    font-size: 80px;
    margin-top: -20px;
}

.title-2{
    margin-top: -20px;
    font-size: 18px;
}

.button2{
    background-color: #FF7400;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
     cursor: pointer;
     color:white;
}

.button2:hover{
    background-color: #ff8c00;
}

.intro{
    margin-top: -150px;
    display: flex;
    justify-content: center;
}

.intro-img{
    margin-left: 150px;
}

.content{
    font-family: 'Tinos', serif;
    display: flex;
    justify-content: center;
}

.text-history{
    display: flex;
    font-size: 46px;
}

.naha{
    color: black;
    margin-left: 15px;
}

.history{
    color: #D67E34;
    margin-left: 40px;
}

.text-content{
    font-size: 26px;
    text-align: center;
    color: #656363;
}

.content-history{
    margin-right: 125px;
}

.number{
    display: flex;
    margin-left: 80px;
}

.number-content{
    color: #BC9060;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    margin-left: 60px;
}

.description{
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 60px;
}

.content-foto{
    margin-top: 150px;
}


.content-footer{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    height: 20vh;
    background-size: cover;
    padding-bottom: 300px;
    margin-top: 122px;
    display: flex;
    justify-content: center;
}

.content-footer-text{
    padding-top: 80px;
}

.content-footer-text-1{
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 52px;
}

.content-footer-text-2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.button3{
    background-color: #FF7400;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
     cursor: pointer;
     color:white;
     margin-left: 531px;
     font-family: 'Open Sans', sans-serif;
}

.button3:hover{
    background-color: #ff8c00;
}

.content-footer-button{
    padding-top: 200px;
}

.dishes{
    display: grid;
    justify-items: center;
}

.dishes-heading{
    display: flex;
    font-size: 54px;
}

.dishes-text{
    color: black;
}

.dishes-text-2{
    color: #D67E34;
    margin-left: 15px;
}

.dishes-group-img-text{
    color: black;
    font-size: 26px;
    font-family: 'Tinos', serif;
}

.dishes-group-img-text-1{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
}

.dishes-images{
    display: flex;
    margin-top: 139px;
}

.dishes-group-text{
    margin-left: 30px;
    display: flex;
}

.menu{
    background-image: url(images/Mask\ Group.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-bottom: 100px;
    margin-top: 150px;
    justify-items: center;
    display: grid;
}

.menu-text{
    padding-top: 100px;
    font-size: 54px;
}

.menu-img{
    display: flex;
}

.menu-images{
    margin-left: 60px;
    margin-top: 120px;
}

.menu-images-2{
    margin-left: 60px;
    margin-top: 120px;
}

.menu-images-3{
    margin-left: 60px;
    margin-top: 120px;
}

.feedback{
    background-color: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    justify-items: center;
}

.feedback-text{
    text-align: center;
    color: black;
    font-size: 30px;
}


.feedback-visitor{
    text-align: center;
    color: black;
    font-size: 26px;
}

.feedback-name{
    text-align: center;
    color: black;
    font-size: 24px;
    margin-top: 0px;
}

.gallery-text{
    display: flex;
    font-size: 54px;
}

.gallery-text-1{
    color: black;
}

.gallery-text-2{
    color: #D67E34;
    margin-left: 20px;
}

.gallery-images{
    display: flex;
}

.gallery-images-2{
    display: flex;
}

.gallery{
    display: grid;
    justify-items: center;
}

.gallery-images-group{
    margin-left: 30px;
    margin-top: 30px;
}

.chef{
    display: grid;
    justify-items: center;
}

.chef-text{
    display: flex;
    font-size: 54px;
}

.chef-text-1{
    color: black;
}

.chef-text-2{
    color: #D67E34;
    margin-left: 20px;
}


.chef-images{
    margin-left: 30px;
}

.img-footer{
    margin-top: 100px;
    background-image: url(images/MAKE\ A\ RESERVATION.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 700px;
}

@media (max-width:1700px){
    .item-header{
        margin-left: 250px;
    }
}


@media (max-width:1600px){
    .item-header{
        margin-left: 130px;
    }
}


@media (max-width:1500px) {
    .item-header{
        margin-left: 200px;
    }

    .button{
        margin-left: 50px;
    }

    .logo{
        margin-left: 100px;
    }
}


@media (max-width:1400px){
    .item-header{
        margin-left: 80px;
    }

    .button{
        margin-left: 25px;
    }

    .logo{
        margin-left: 50px;
    }

    .item-nav{
        margin-left: 20px;
    }

    .intro-img{
        margin-left: 75px;
    }

    .text-history{
        font-size: 36px;
    }

    .text-content{
        font-size: 18px;
    }

    .number-content{
        font-size: 30px;
        margin-left: 43px;
    }

    .description{
        font-size: 14px;
        margin-left: 43px;
    }

    .button3{
        margin-left: 250px;
    }

    .menu-images{
        width: 300px;
        height: 450px;
    }

    .menu-images-2{
        width: 300px;
        height: 450px;
    }

    .menu-images-3{
        width: 300px;
        height: 450px;
    }



}

@media (max-width:1100px) {

    .nav-img{
        display: flex;
    }

    .item-header{
        display: none;
    }

   .nav-header-2{
    display: none;
   }

   .intro-img{
    margin-left: 0px;
    }

    .content-foto{
        display: none;
    }

    .content-history{
        display: grid;
        text-align: center;
        margin-right: 0px;
    }

    .content-footer{
        display: grid;
        place-items: center;
        text-align: center;
        justify-content: center;
    }

    .content-footer-text-1{
        font-size: 46px;
    }

    .content-footer-text-2{
        font-size: 16px;
    }

    .content-footer-button{
        padding-top: 0px;
        margin-left: 0px;
    }

    .button3{
        margin-left: 0px;
    }

    .dishes-img{
        display: none;
    }

    .dishes-images{
        margin-top: 0px;
    }

    .menu-text{
        padding-top: 0px;
    }

    



}

@media (max-width:900px) {
    .nav-img{
        margin-left: 450px;
    }

    .title-item{
        font-size: 36px;
    }

    .title-item-2{
        font-size: 56px;
    }

    .intro-img{
        margin-top: 0px;
    }

    .intro{
        display: grid;
        justify-content: center;
        
    }

    .dishes-group-text{
        font-size: 16px;
    }

    .dishes-group-img-text-1{
        margin-left: 0px;
    }

    .menu-images-2{
        display: none;
    }

    .menu-images-3{
        display: none;
    }

    .menu-images{
        display: grid;
        justify-items: center;
        width: auto;
        height: 550px;
        margin-top: 0px;
        margin-left: 0px;
    }

}

@media (max-width:480px) {
    .nav-img{
        margin-left: 200px;
    }

    .logo{
        margin-left: 0px;
    }

    .text-history{
        font-size: 34px;
    }

    .content-footer-text-1{
        font-size: 36px;
    }

    .feedback-text{
        font-size: 16px;
    }

    .feedback{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .gallery{
        display: none;
    }

    .chef-images{
        margin-left: 0px;
    }

    .chef-img{
        display: grid;
        justify-items: center;
    }
}




